@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 253, 245;
  --text: 49, 29, 64;
}

html,
body,
:root {
    height: 100%;
}

body {
  color: rgb(var(--text));
  background: rgb(var(--background));
  font-family: var(--raleway);
}

/* mobil størrelse*/
@media only screen and (max-width: 640px){
  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 1.5rem;
  }

  h3{
    font-size: 1.25rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
